<div class="container">
  <div class="row">

    <div class="link-area">
      <a href="/topics">&#9664; Back to all topics</a>
    </div>

    <div class="topic-top-area">
        Edit the below topic for: <strong><%= currentuser %></strong>
    </div>

    <hr>

    <div class="new-content-area">
      <form class="" action="/topics/<%= topic._id %>?_method=PATCH" method="post">
        <input  type="text"
                name="topic[title]"
                placeholder="Title of the new topic, limit 150 characters"
                value="<%= topic.title %>">
                <br />
        <input  type="text"
                name="topic[description]"
                placeholder="Short description of the new topic, limit 300 characters"
                value="<%= topic.description  %>">
                <br />
        <button type="submit" class="btn-sm btn-primary" id="submit-button">
          Update Topic
        </button>
      </form>
    </div>
  </div>
</div>
