<div class="container">
  <div class="row">

    <div class="col-md-12 link-area">
      <a href="/topics">Back to all topics</a>
      <hr>
    </div>

    <div class="col-md-12 topic-top-area">
        Edit the below topic for: <strong><%= currentuser %></strong>
    </div>

    <hr>

    <div class="col-md-12 new-content-area">
      <form class="" action="/topics/<%= topic._id %>?_method=PATCH" method="post">
        <input  type="text"
                name="topic[title]"
                placeholder="Title of the new topic"
                value="<%= topic.title %>">
                <br />
        <input  type="text"
                name="topic[description]"
                placeholder="Short description of the new topic, limit 500 characters"
                value="<%= topic.description  %>">
                <br />
        <button type="submit" class="btn-sm btn-primary" id="submit-button">
          Update Topic
        </button>
      </form>
    </div>
