<div class="container">
  <div class="row">

    <div class="link-area">
      <bold>OOPS! THERE WAS AN ERROR, PLEASE GO BACK AND TRY AGAIN.</bold><br>
      <a href="/topics">&#9664; Back to all topics</a>
    </div>

  </div>
</div>
