
<div class="container">
  <div class="row">
    <div class="login-area">
      PLEASE LOG IN:
      <form class="" action="/login" method="post">
        <input type="text" name="user[username]" placeholder="User ID">
        <input type="password" name="user[password]" placeholder="Password">
        <br>
        <button type="submit" class="btn btn-primary" id="login-button">
          Log Me In!
        </button>
      </form>
    </div>
  </div>
</div>
