<h3>New  Topic for <%= userid  %></h3>

<form class="" action="/topics" method="post">
  <!-- <input  type="text"
          name="topic[userid]"
          placeholder="userid of the author">
          <br /> -->
  <!-- <input  type="text"
          name="topic[name]"
          placeholder="real name of the author">
          <br /> -->
  <input  type="text"
          name="topic[title]"
          placeholder="title of topic">
          <br />
  <input  type="text"
          name="topic[description]"
          placeholder="description of topic, limit 500 characters">
          <br />
  <input type="submit" >
</form>
