<div class="container">
  <div class="row">

    <div class="col-md-12 link-area">
      <a href="/topics">Back to all topics</a>
      <hr>
    </div>

    <div class="col-md-12 topic-top-area">
        Enter a new topic for: <strong><%= currentuser %></strong>
    </div>

    <hr>

    <div class="col-md-12 new-content-area">
      <form class="" action="/topics" method="post">
        <input  type="text"
                name="topic[title]"
                placeholder="Title of the new topic">
                <br />
        <input  type="text"
                name="topic[description]"
                placeholder="Short description of the new topic, limit 500 characters">
                <br />
        <!-- <input  type="text"
                name="topic[comments]"
                placeholder="comments, comma separated">
                <br />
        <input  type="Number"
                name="topic[likes]"
                placeholder="number of likes">
                <br /> -->
          <button type="submit" class="btn-sm btn-primary" id="submit-button">
            Create New Topic
          </button>
      </form>
    </div>
