
<div class="container">
  <div class="row">
    <div class="col-md-12 login-area">
      PLEASE REGISTER:
      <form class="" action="/register" method="post">
        <input type="text" name="user[username]" placeholder="User ID"><br>
        <input type="password" name="user[password]" placeholder="Password">
        <div class="login-error">Sorry, the Passwords don't match, please try again.</div>
        <input type="password" name="user[passwordTwo]" placeholder="Re-Type Your Password">
        <br>
        <button type="submit" class="btn btn-primary" id="register-button">
          Register Me!
        </button>
      </form>
    </div>
  </div>
</div>
