
<div class="container">
  <div class="row">
    <div class="col-md-12 login-area">
      <form class="" action="/users" method="post">
        <input type="text" name="user[username]" placeholder="user ID">
        <input type="password" name="user[password]" placeholder="password">
        <br>
        <input type="submit" value="Register Me!">
      </form>
    </div>
  </div>
</div>
